/* أيقونات تسجيل الدخول */
.login {
  display: inline-flex;
  align-items: center;
  gap: 5px; /* مسافة بين الأيقونة والنص */
  cursor: pointer;
}

.login i,
.login a {
  font-size: 20px;
  color: white;
  transition: color 0.3s ease;
}

.login:hover i,
.login:hover a {
  color: rgb(0, 195, 255);
}

/* صورة البروفايل */
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
