<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark dark">
    <div class="container-fluid">
        <!-- زر التوجيل على الموبايل -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

        <!-- شعار الموقع -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/ProductApi">
            <img src="/Gemini_Generated_Image_lt1uqmlt1uqmlt1u.png" height="40" alt="Logo" />

        </a>

        <!-- روابط القائمة -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>

                <li class="nav-item" *ngIf="auth.isAuthenticated()">
                    <a class="nav-link" href="/ProductApi">Projects</a>
                </li>

            </ul>
            <!-- 
            <div class="fav">
                <li class="nav-item" *ngIf="auth.isAuthenticated()">
                    <a class="nav-link d-flex align-items-center" href="##">
                        <i class="fa-solid fa-heart me-1"></i>
                    </a>
                </li>
            </div> -->


            <!-- زر عربة التسوق -->
            <!-- <div class="car">
                <li class="nav-item" *ngIf="auth.isAuthenticated()">
                    <a class="nav-link d-flex align-items-center" href="/car">
                        <i class="fa-solid fa-cart-shopping me-1"></i>
                    </a>
                </li>
            </div> -->

            <!-- زر تسجيل الدخول / تسجيل الخروج -->
            <div class="login">
                <a *ngIf="!auth.isAuthenticated()" class="nav-link d-flex align-items-center" href="/login">
                    <i class="fa-solid fa-right-to-bracket me-1"></i> Login
                </a>
                <a *ngIf="auth.isAuthenticated()" class="nav-link d-flex align-items-center" (click)="logout()" href="/login">
                    <i class="fa-solid fa-right-from-bracket me-1"></i> Logout
                </a>
            </div>

            <!-- صورة البروفايل -->
            <div class="profile me-3" *ngIf="auth.isAuthenticated()">
                <a href="/profile"><img src="/image/WhatsApp Image 2024-05-01 at 10.51.22 PM.jpeg" alt="Profile Image"></a>
            </div>

        </div>
    </div>
</nav>